@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background-color:#013838 ;
}

header {
    background:  #ffffff ;
    padding: 20px;
    
}

header > h1 {
    color: #013838;
    text-align: center;
    font-family: spectral;
    font-size: larger;
    
}