@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background-color:#013838 ;
}

header {
    background:  #ffffff ;
    padding: 20px;
    
}

header > h1 {
    color: #013838;
    text-align: center;
    font-family: spectral;
    font-size: 28px;
    
}

.score-board {
    margin: 60px auto 40px auto;
    border: 3px solid #ffffff ;
    width: 200px;
    color: #ffffff;
    font-size: 30px;
    border-radius: 5px;
    text-align: center;
    padding: 15px 20px;
    font-family: spectral;
    position: relative;
}

.badge {
   background-color: #66001a ; 
   font-size: 15px;
   padding: 2px 10px;
   font-family: spectral;
   border-radius: 1px;
}


#user-label {
    position: absolute;
    top: 25px;
    left: -30px;
}

#comp-label {
    position: absolute;
    top: 25px;
    right: -30px;
}


.result {
    font-size: 40px;
    color: #ffffff;
}

.result > p {
    text-align: center;
    font-weight: bold;
    font-family: spectral;
}

.choices {
    margin: 50px 0;
    text-align: center;
}


.choice {
    margin: 0 10px;
    display: inline-block;
}

.img {
    height: 78px;
    width: 78px;
}